*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d3d1cb;
}

::-webkit-scrollbar-track {
  background: #edece9;
}

::selection {
  background: rgba(35, 131, 226, 0.28);
}

body {
  line-height: 1.5;
  font-family: "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  fill: currentcolor;
  color: var(--main-tx-color);
}

a,
a:visited {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  border: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}
