:root {
  --main-tx-color: #37352f;
  --accent-bg-color: rgba(55, 53, 47, 0.08);

  --sidebar-width: 16vw;
  --sidebar-tx-color: rgba(25, 23, 17, 0.6);
  --sidebar-bg-color: #f7f7f5;
  --sidebar-accent-tx-color: #37352f;
  --sidebar-accent--bg-color: rgba(55, 53, 47, 0.08);
}
