.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: var(--sidebar-width);
  height: 100%;
  padding: 4px;

  color: var(--sidebar-tx-color);
  background-color: var(--sidebar-bg-color);
  z-index: 1;
}
