.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 220px;
  max-width: 480px;
  height: 100%;
  padding: 4px;

  color: var(--sidebar-tx-color);
  background-color: var(--sidebar-bg-color);
}
