.pages-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 24px;
  margin: 6px 0px 2px;
  padding: 0px 10px 0px 11px;

  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
}
