.pages-list__item {
  min-height: 27px;
  margin: 1px 0px;
  border-radius: 3px;

  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  transition: color 0.1s ease-out, background-color 0.1s ease-out;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &--current {
    color: var(--sidebar-accent-tx-color);
    background-color: var(--sidebar-accent--bg-color);
  }
}

.pages-list__link {
  display: block;
  padding: 2px 10px 2px 5px;
}
