.rename-page-input {
  width: 100%;
  padding: 4px 10px;
  border: none;
  border-radius: 4px;

  color: var(--main-tx-color);
  background-color: rgba(242, 241, 238, 0.6);
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
}
